<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RegularToy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <RegularToy.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastExpression" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastText" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="RegexOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value/>
            </setting>
        </RegularToy.Properties.Settings>
    </userSettings>
</configuration>
